@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Reconciliation Management System
            </p>
        </div>
    </section>
}
<br/>
<br />
<br />
<div class="container">
<div class="span12">
  <ul class="thumbnails">
  <li class="span2">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/150X150" alt=""/>
    </a>
    </li>
    <li class="span2">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/150X150" alt=""/>
    </a>
  </li>
  <li class="span2">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/150X150" alt=""/>
    </a>
  </li>
  <li class="span2">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/150X150" alt=""/>
    </a>
  </li>

  <li class="span2">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/150X150" alt=""/>
    </a>
  </li>
  <li class="span2">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/150X150" alt=""/>
    </a>
  </li>
  <li class="span2">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/150X150" alt=""/>
    </a>
  </li>
  <li class="span2">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/150X150" alt=""/>
    </a>
  </li>
  <li class="span2">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/150X150" alt=""/>
    </a>
  </li>
  <li class="span2">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/150X150" alt=""/>
    </a>
  </li>
  <li class="span2">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/150X150" alt=""/>
    </a>
  </li>
   <li class="span2">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/150X150" alt=""/>
    </a>
  </li>
   <li class="span2">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/150X150" alt=""/>
    </a>
  </li>
   <li class="span2">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/150X150" alt=""/>
    </a>
  </li>
   <li class="span2">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/150X150" alt=""/>
    </a>
  </li>
   <li class="span2">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/150X150" alt=""/>
    </a>
  </li>
   <li class="span2">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/150X150" alt=""/>
    </a>
  </li>
   <li class="span2">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/150X150" alt=""/>
    </a>
  </li>

 </ul>
</div>
</div>


 
          
         
          