@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Reconciliation Management System
            </p>
        </div>
    </section>
}

<div class="span9">
    <div class="hero-unit">
        <h3> Reconciliation Management System</h3>
        <ol>
            <li>
                <h5>
                    A web based Product for Reconciliation Management that gives you unparalleled power
                    of the matching algorithms to complete your reconciliations on time</h5>
            </li>
            <li>
                <h5>Simply Upload Your Data Validate and experience the power of the tool</h5>
            </li>
            <li>
                <h5> Unparalleled Support and Free Upgrades</h5>
            </li>
        </ol>
    </div>
</div>

 
          
         
          